html,
body{ 
    margin: 0;
    height:100%;
    padding: 0;
}
.banderas{
        width: 300px;
        height: 200px;
        margin: 20px;
        float: left;
        border-radius: 10px;
        background-color: rgb(247, 250, 244);
        display: flex;
        flex-wrap: wrap;
        border-color: black 10px;
        box-shadow: 5px 5px 5px grey;

}
.celeste{
        width: 300px;
        height: 66px;
        background-color: rgb(116,172,223);
}
.blanco{
        width: 300px; 
        height: 66px;
        background-color: white;
}
.negro{
        width: 300px;
        height: 66px;
        background-color: black;
}
.rojo{width: 300px;
      height: 66px;
      background-color: rgb(221,0,0);
}
.amarillo{
        width: 300px;
        height: 66px;
        background-color: rgb(255,206,0);
}
.naranja{
        width: 300px;
        height: 66px;
        background-color: rgb(255,153,51);
}
.verde{width: 300px;
        height: 66px;
        background-color: rgb(18,136,7);
}
.verdev{
        width: 100px;
        height: 200px;
        background-color: rgb(0,104,71);
        float: left;
}
.blancov{width: 100px;
         height: 200px;
         background-color: white;
         float: left;
         
}
.rojov{
        width: 100px;
        height: 200px;
        background-color: rgb(206,17,38);
        float: left;
        
}
 .azul{
         width: 100px;
         height: 200px;
         background-color: rgb(0,36,150);
         float: left;
 }
 .rojof{
         width: 100px;
         height: 200px;
         background-color: rgb(237,40,57);
         float: left;
 }
 .rojop{
         width: 100px;
         height: 200px;
         background-color: rgb(217,16,35);
         float: left;
 }
 
        